/* Basic */

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    text-align: right;
    padding: 16px;
}

/* Google Apps*/
.google-apps {
    padding-right: 0;
}
.google-apps a {
    color: black;
    text-decoration: none;
    padding: 4px;
}

.google-apps a:hover {
    text-decoration: underline;
}

.google-apps img {
    width: 24px;
    margin: 0;
}

.google-apps a,
.google-apps img {
    display: inline-block;
    vertical-align: middle;
}

/* Account */

.account {
    padding-left: 0;
}
.account button {
    padding: 8px 12px;
    margin: 0 8px;
    background-color: blue;
    color: white;
}

.google-logo,
.search,
.international {
    margin: 32px;
}

/* Search Form */

.search {
    position: relative;
    display: block;
    margin: auto;
    width: 25%;
    text-align: center;
}

.search-form {
    margin: 32px 0;
    position: relative;
}

.search-form input,
.search-form img {
    display: inline-block;
    vertical-align: middle;
}

.search-form input {
    padding: 12px;
    width: 100%;
    margin-bottom: 4%;
    border-radius: 24px;
    border-width: 0.5px;
}

.search-form input:hover {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.text-box {
    display: inline;
}

.search-form img {
    width: 24px;
}

.search-form button {
    padding: 12px 16px;
    background-color: lightgray;
    color: black;
    margin: 1%;
}

.voice-search {
    /* Layout */
    position: absolute;
    right: 0;
    top: 0;
}

.voice-search img {
    padding: 10px;
    height: 20px;
    margin-right: 10px;
}

.international {
    font-size: small;
}

.international a {
    text-decoration: none;
}

.international a:hover {
    text-decoration: underline;
}

.navigation a {
    color: black;
}

/* Header */

.google-apps,
.account {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 13px;
}

/* Main */

main {
    text-align: center;
}

.google-logo {
    margin-top: 10%;
}

/* Footer */

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.location {
    padding-bottom: 1em;
    padding-left: 1em;
}

footer .navigation {
    padding: 16px;
    background-color: lightgray;
}

footer .navigation a {
    margin: 16px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.nav-left {
    text-align: left;
    display: inline-block;
}

.nav-right {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 1%;
}

